.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color:#1F2937;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.logo {
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar li {
  cursor: pointer;
  color:white;
  transition: color 0.3s ease;
}

.navbar li:hover {
  color:#2563EB;
}